.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  background-color:rgb(239, 232, 232);

}
.dialog-content {
  max-height: 600px;  /* Adjust based on your needs */
  overflow-y: auto;
}

