<div class="row ">
  <div class="col-sm-12 col-md-2 col-lg-2 ">
    <div class="row  justify-content-center">
      <img class="img-fluid width"  src="../../../../../assets/experience.png">
      <p class="d-flex justify-content-center font"><b>10 Years Experience</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <div class="row justify-content-center">
      <img class="img-fluid width" src="../../../../../assets/fast-delivery.png">
      <p class="d-flex justify-content-center font"><b>Flexible Delivery</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <div class="row justify-content-center">
      <img class="img-fluid width" src="../../../../../assets/tools.png">
      <p class="d-flex justify-content-center font"><b>Free Installation</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <div class="row justify-content-center">
      <img class="img-fluid width" src="../../../../../assets/support.png">
      <p class="d-flex justify-content-center font"><b>After Sales Support</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <div class="row justify-content-center">
      <img class="img-fluid width" src="../../../../../assets/medal.png">
      <p class="d-flex justify-content-center font"><b>5 Years Warranty</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <div class="row justify-content-center">
      <img class="img-fluid width" src="../../../../../assets/review.png">
      <p class="d-flex justify-content-center font"><b>Customer Trust</b></p>
    </div>
  </div>
</div>
