@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body,html {
  height: 900px;;
  margin:0;
  font-family:lato;
}
h2 {
  margin-bottom:0px;
  margin-top:25px;
  text-align:center;
  font-weight:300;
  font-size:19px;
}
p{
  margin-bottom:0px;
  text-align:center;
  font-weight:300;
  font-size:19px;
}
.container {
  height:100%;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  background:-webkit-linear-gradient(#f0f0f0,#f3f3f3);
  background:linear-gradient(#f0f0f0,#f3f3f3);
}
ul {
  margin:0;
  padding:0;
}
ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
ul li:hover {
  background:rgba(255,255,255,0.1);
}
.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  border-right:1px solid #abb8c3;
  width:50%;
}
.window {
  height:600px;
  width:1100px;
  background:#f1f0f0;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px #ddd;
  border-radius:30px;
  z-index:10;
  border: 1px solid #78909c;
}
.order-info {
  height: 100%;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  max-height: 80vh; 
  overflow-y: auto; 
}
.order-table td:first-of-type {
  width:25%;
}
.order-table {
    position:relative;
}
.order-item {
  height: 120px;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#78909c;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;
}
.full-width {
  width:100%;
}
.pay-btn {
  border:none;
  background:#fff;
  line-height:2em;
  font-size:19px;
  font-size:1.2rem;
  color:#78909c;
  border: 2px solid #78909c;
  cursor:pointer;
  position:absolute;
  bottom:25px;
  width:calc(100% - 50px);
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}
.pay-btn:hover {
  background:#78909c;
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}
.error-message{
  color: #363284;
}
.total {
  margin-top:20px;
  font-size:24px;
  font-size:1.3rem;
  position:relative;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:12px;;
  border:1px solid #78909c;
  padding:5px 10px 5px 10px;
  color:#78909c;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.user-info {
  background:#fff;
  height:100%;
  width:50%;
  color:#78909c;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
}
.user-info-content {
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .user-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radio input:checked ~ .radio-btn {
  background-color: #78909c;
}
.radio-btn:after {
  content: "";
  position: absolute;
  display: none;
}
.radio input:checked ~ .radio-btn:after {
  display: block;
}
.radio .radio-btn:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}