<div class="row col-12">
  <div class="col-lg-8 col-md-12 col-sm-12 table-container">
    <table class="table text-center table-responsive">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cart; let i = index">
          <td data-label=" " class="align-middle ">
              <form action="">
                <button (click)="deleteProduct(product._id)" class="btn-delete">
                  <i class="fas fa-times"></i>
                </button>
            </form>
          </td>
          <td class="align-middle "><img [src]="product.image" alt="Product Image" style="height: 70px; width: 100px;">
          </td>
          <td data-label="Product" class="align-middle ">{{ product.title }}</td>
          <td data-label="Price" class="align-middle ">{{ product.price }}$</td>
          <td data-label="Quantity" class="align-middle ">
            <div class="quantity-group">
              <button (click)="decreaseProductQuantity(product._id)" class="btn">
                <div class="col">-</div>
              </button>
              <div class="col">{{ product.quantity }}</div>
              <button (click)="increaseProductQuantity(product._id)" class="btn">
                <div class="col">+</div>
              </button>
            </div>
          </td>
          <td data-label="Subtotal" class="align-middle">{{ (product.price * product.quantity).toFixed(2) }}$</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4 col-md-12 col-12 col-12">
    <div class="card sticky-top">
      <div class="card-header">
        <b>Cart totals</b>
      </div>
      <div class="card-body">
        <div class="row">
          <diV class="col-6">Subtotal : {{(this.total).toFixed(2)}}</diV>
          <diV class="col-6"></diV>
        </div>
        <div class="row">
          <diV class="col-6">Shipping</diV>
          <div class="col-6">
            <diV class="col-12">Flat rate: {{cart.length===0 ? 0 :'8$'}}</diV>
            <diV class="col-12">Shipping to: {{this.selectedCountry}}</diV>
            <div class="col-12">
              <a href="javascript:void(0);" (click)="toggleAddressForm()" class="a-custom">Change address</a>
            </div>
            <div class="address-form" *ngIf="showAddressForm">
              <div class="row">
                <div class="col-12">
                  <select id="country" class="form-select input-custom">
                    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                  </select>
                </div>
                <div class="col-12">
                  <button class="btn btn-custom" (click)="onUpdateCountry()">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <diV class="col-6">Total</diV>
          <diV class="col-6">{{cart.length===0 ? 0 : (this.total+8).toFixed(2)}}$</diV>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="javascript:void(0);" (click)="toggleCouponForm()" class="a-custom">Have a coupon?</a>
          </div>
          <div class="address-form" *ngIf="showCouponForm">
            <div class="row">
              <div class="col-9">
                <input type="text" class="form-control input-custom" placeholder="Coupon code">
              </div>
              <div class="col-3">
                <button class="btn btn-custom">Apply</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <a href="/checkout" class="btn btn-custom col-10" [ngClass]="{'dis-btn': cart.length === 0}">
            <b>Proceed to checkout</b>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
