<div class="m-4">
  <div class="row">
    <div class="col-md-8 col-12 table-container">
      <table class="table text-center table-responsive">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          @for (product of cart; track $index) {
          <tr>
            <td data-label=" " class="align-middle "><button class="btn-delete">
                <i class="fas fa-times"></i>
              </button></td>
            <td class="align-middle "><img src="{{product.product.image}}" alt="Product Image"
                style="height: 70px; width: 100px;">
            </td>
            <td data-label="Product" class="align-middle ">{{ product.product.details }}</td>
            <td data-label="Price" class="align-middle ">{{product.product.price}}$</td>
            <td data-label="Quantity" class="align-middle ">
              <div class="quantity-group">
                <div class="border-end col">-</div>
                <div class="border-end col">{{product.quantity}}</div>
                <div class="col">+</div>
              </div>
            </td>
            <td data-label="Subtotal" class="align-middle">{{ product.product.price * product.quantity }}$</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-12">
      <div class="card sticky-top">
        <div class="card-header">
          <b>Cart totals</b>
        </div>
        <div class="card-body">
          <div class="row">
            <diV class="col-6">Subtotal</diV>
            <diV class="col-6"></diV>
          </div>
          <div class="row">
            <diV class="col-6">Shipping</diV>
            <div class="col-6">
              <diV class="col-12">Flat rate: 8.00$</diV>
              <diV class="col-12">Shipping to:</diV>
              <div class="col-12">
                <a href="javascript:void(0);" (click)="toggleAddressForm()" class="a-custom">Change address</a>
              </div>
              <div class="address-form" *ngIf="showAddressForm">
                <div class="row">
                  <div class="col-12">
                    <select id="country" class="form-select input-custom" [(ngModel)]="selectedCountry"
                      (change)="onCountryChange()">
                      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <select id="state" class="form-select input-custom" [(ngModel)]="selectedState">
                      <option *ngFor="let state of states[selectedCountry]" [value]="state">{{ state }}</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <input type="text" id="city" class="form-control input-custom">
                  </div>
                  <div class="col-12">
                    <input type="text" id="postalCode" class="form-control input-custom" placeholder="PostalCode / Zip">
                  </div>
                  <div class="col-12">
                    <button class="btn btn-custom" (click)="updateShippingAddress()">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <diV class="col-6">Total</diV>
            <diV class="col-6">12E</diV>
          </div>
          <div class="row">
            <div class="col-12">
              have a coupon?
            </div>
          </div>
          <div class="row">
            <a href="/checkout" class="btn btn-custom col-10"><b>Proceed to checkout</b></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>