<div class="card mt-3">
  <div class="card-body">
    <!-- title -->
    <h3 class="card-title">Orders Dashboard</h3>
    <!-- <h5 class="card-subtitle">Overview of the Orders</h5> -->

    <!-- title -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr class="">
            <th class="text-dark font-medium fs-4" style="text-align: left">
              User
            </th>
            <th class="text-dark font-medium fs-4">Order</th>
            <th class="text-dark font-medium fs-4">Actions</th>
            <th class="text-dark font-medium fs-4">Status</th>
            <th class="text-dark font-medium fs-4">Since</th>
            <th class="text-dark font-medium fs-4">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>
              <div class="d-flex align-items-center">
                <img
                  [src]="image"
                  alt="user"
                  width="45"
                  class="rounded-circle"
                />
                <div class="ms-3 d-flex flex-column align-items-start">
                  <h5 class="mb-0 font-medium">{{ order.username }}</h5>
                  <span class="text-muted">{{ order._id }}</span>
                </div>
              </div>
            </td>
            <td class="fs-4">{{ order.order_name }}</td>
            <td>
              <button
                class="btn btn-success me-1"
                [disabled]="order.status == 'accepted'"
                (click)="accepted(order._id)"
              >
                Accept
              </button>
              <button
                class="btn btn-danger"
                [disabled]="order.status == 'rejected'"
                (click)="rejected(order._id)"
              >
                Reject
              </button>
              <button
                class="btn btn-warning d-felx mx-1 p-1 align-items-center"
                [disabled]="order.status == 'pending'"
                (click)="pending(order._id)"
              >
                <mat-icon>refresh</mat-icon>
              </button>
            </td>
            <td class="">
              <span
                class="p-2 rounded-circle d-inline-block ms-3"
                [ngClass]="{
                  'bg-success': order.status === 'accepted',
                  'bg-warning': order.status === 'pending',
                  'bg-danger': order.status === 'rejected'
                }"
              ></span
              ><span>
                {{ order.status }}
              </span>
            </td>

            <td>
              <!-- <h5 class="mb-0 fw-normal">{{ new Date()-order.date }}</h5> -->
              <h5 class="mb-0 fw-medium">{{ order.daysDifference }} Days</h5>
            </td>
            <td>
              <h5 class="mb-0 fw-medium">{{ order.totalPrice.toFixed() }} $</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
