<div class="card mt-3">
  <div class="card-body">
    <h6 class="d-flex align-items-center mb-3">Pending Orders</h6>
    <div class="row">
      <div class="col-sm-6">
          <p>Order 1</p>
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
          <a href="https://example.com">
              <img class="img-fluid" src="../../../../../assets/close.png" alt="Close" style="width: 15px;">
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <p>Order 2</p>
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
          <a href="https://example.com">
              <img class="img-fluid" src="../../../../../assets/close.png" alt="Close" style="width: 15px;">
          </a>
      </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
          <p>Order 3</p>
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
          <a href="https://example.com">
              <img class="img-fluid" src="../../../../../assets/close.png" alt="Close" style="width: 15px;">
          </a>
      </div>
  </div>
  </div>
</div>
