<div class="text-center"><h1>Admin Dashboard</h1></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div
    class="collapse navbar-collapse d-flex justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/product']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']">Users</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cont p-5">
  <div class="top-cards"><app-top-cards></app-top-cards></div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-lg-7">
      <app-sales-summary></app-sales-summary>
    </div>
    <div class="col-lg-5">
      <app-feeds></app-feeds>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <div class="row">
    <!-- column -->
    <div class="col-12">
      <app-orders></app-orders>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
</div>
