<div class="card h-100">
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-sm-6">
        <h6 class="d-flex align-items-center mb-3">Accepted Orders</h6>
      </div>
      <div class="col-6 col-sm-6 d-flex justify-content-end">
        <img class="img-fluid" style="width:40px; height:30px;" src="../../../../../assets/cargo.png">
      </div>
    </div>
    <hr>
    <div class="row mb-3">
      <div class="col-6 col-sm-6">
          <p>Order Id</p>
      </div>
      <div class="col-6 col-sm-6 d-flex justify-content-end">
        <a href="#" style="margin-right: 11px;">102</a>
      </div>
  </div>
  <div class="row mb-3">
    <div class="col-6 col-sm-6">
        <p>Order Id</p>
    </div>
    <div class="col-6 col-sm-6 d-flex justify-content-end">
      <a href="#" style="margin-right: 11px;">102</a>
    </div>
</div>
</div>
