<div class="card">
  <div class="card-body">
    <h4 class="card-title">Feeds</h4>
    <h5 class="card-subtitle text-muted">Insights about your orders</h5>
    <div class="feed-widget mt-4">
      <ul class="list-unstyled feed-body m-0">
        <li
          class="feed-item d-flex align-items-center mb-4"
          *ngFor="let feed of feeds"
        >
          <div
            class="feed-icon rounded-circle round-sm text-white d-flex align-items-center justify-content-center  {{
              feed.class
            }}"
            style="width: 35px; height: 35px; padding: 10px"
          >
            <i class="{{ feed.icon }}"></i>
          </div>
          <h5 class="mb-0 fw-normal ms-3">{{ feed.task }}</h5>
          <span class="text-muted ms-auto fs-5"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
