<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Create New User</h5>
          <form [formGroup]="createForm">
            <div class="mb-3">
              <label for="userName" class="form-label">User ID</label>
              <input
                formControlName="id"
                type="text"
                class="form-control"
                id="userId"
                placeholder="Enter product name"
                value="{{ newUserId }}"
              />
            </div>
            <div class="mb-3">
              <label for="userName" class="form-label">User Name</label>
              <input
                formControlName="username"
                type="text"
                class="form-control"
                id="userName"
                placeholder="Enter User Name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                rows="3"
                placeholder="Enter Email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                formControlName="passowrd"
                type="text"
                class="form-control"
                id="passowrd"
                placeholder="Enter Password"
              />
            </div>
            <div class="mb-3">
              <label for="passwordConfirmation" class="form-label"
                >Passowrd Confirmation</label
              >
              <input
                formControlName="passwordConfirmation"
                type="text"
                class="form-control"
                id="PasswordConfirmation"
                placeholder="Enter Password Confirmation"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="sumbitForm()"
            >
              Add User
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
