<div class="text-center"><h1>Admin Dashboard</h1></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div
    class="collapse navbar-collapse d-flex justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/product']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']">Users</a>
      </li>
    </ul>
  </div>
</nav>
<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3 class="card-title">Users List</h3>
      <button class="btn btn-primary" (click)="createUser()">
        Create User
      </button>
    </div>
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr class="">
            <th class="text-dark font-medium fs-4 text-start">User</th>
            <th class="text-dark font-medium fs-4 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="d-flex align-items-center">
                <img
                  [src]="user.image"
                  alt="user"
                  width="45"
                  class="rounded-circle"
                />
                <div class="ms-3 d-flex flex-column align-items-start">
                  <h5 class="mb-0 font-medium">{{ user.username }}</h5>
                  <span class="text-muted">{{ user.email }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex flex-row justify-content-center">
                <button
                  class="btn btn-success me-1"
                  (click)="viewUser(user._id)"
                >
                  View
                </button>
                <button class="btn btn-info me-1" (click)="editUser(user._id)">
                  Edit
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user._id)">
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
