<div class="text-center"><h1>Admin Dashboard</h1></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div
    class="collapse navbar-collapse d-flex justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
    </ul>
  </div>
</nav>
<div class="card mt-3">
  <div class="card-body">
    <!-- title -->
    <div class="d-flex justify-content-between">
      <h3 class="card-title">Users List</h3>
      <button class="btn btn-primary" (click)="createUser()">
        Create User
      </button>
    </div>
    <!-- <h5 class="card-subtitle">Overview of the Orders</h5> -->

    <!-- title -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr class="">
            <th class="text-dark font-medium fs-4" style="text-align: left">
              User
            </th>
            <!-- <th class="text-dark font-medium fs-4">Order</th>
            <th class="text-dark font-medium fs-4">Actions</th>
            <th class="text-dark font-medium fs-4">Status</th>
            <th class="text-dark font-medium fs-4">Since</th> -->
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="../../../../../assets/images/users/user1.jpg"
                  alt="user"
                  width="45"
                  class="rounded-circle"
                />
                <div class="ms-3 d-flex flex-column align-items-start">
                  <h5 class="mb-0 font-medium">{{ user.username }}</h5>
                  <span class="text-muted">{{ user.email }}</span>
                </div>
              </div>
            </td>
            <!-- <td class="fs-4">{{ order.order_name }}</td> -->
            <!-- <td>
              <button
                class="btn btn-success me-1"
                [disabled]="order.state == 'accepted'"
                (click)="accepted(order.id)"
              >
                Accept
              </button>
              <button
                class="btn btn-danger"
                [disabled]="order.state == 'rejected'"
                (click)="rejected(order.id)"
              >
                Reject
              </button> -->
            <!-- </td> -->
            <td>
              <div class="d-flex flex-row">
                <button
                  class="btn btn-success me-1"
                  (click)="viewUser(user.id)"
                >
                  View
                </button>
                <button class="btn btn-info me-1" (click)="editUser(user.id)">
                  Edit
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user.id)">
                  Delete
                </button>
              </div>
            </td>

            <!-- <td>
              <h5 class="mb-0 fw-normal">{{ new Date()-order.date }}</h5>
              <h5 class="mb-0 fw-normal">{{ order.date }}</h5>
            </td>
            <td>
              <h5 class="mb-0 fw-normal">{{ order.total_price.toFixed() }}</h5>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
