.related-product-card{
    border-radius: 0px;
}

.product-title-anchor{
    color: #416990;
}

.product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.cart-icon {
    cursor: grab;
    display: flex;
    align-items: end;
    color: grey;
}

.cart-icon:hover{
    color: black;
}

