<div class="card border-0 related-product-card mb-3">
    <div class="card-title">
        <a href="/product/{{ product._id }}" class="w-100 product-anchor position-relative">
            <img src="{{ product.image }}" alt="Card image cap" class="img-fluid product-image">
            <!-- i will put alert details btn here -->
        </a>
    </div>
    <div class="card-body p-0">
        <p class="m-0 mt-2 mx-3 p-0 text-secondary">{{ product.category }}</p>
        <h5 class="m-0 mt-1 mx-3">
            <a href="/product/{{ product._id }}" class="w-100 h-100 text-decoration-none product-title-anchor">
                {{ product.title }}
            </a>
        </h5>
        <p class="m-0 mx-3">
            <b>£{{ product.price }}</b>
        </p>

        <a mat-button type="button" class="cart-icon position-absolute top-0 end-0" (click)="openDialog()">
            <mat-icon>search</mat-icon>
        </a>
    </div>
</div>
