.container{
    margin-top: 50px;
    width: 40%;
}
input[type="text"], input[type="email"], input[type="password"], select{
    border-radius: 0px;
    height: 50px;
}
.submit{
    border-radius: 0px;
    height: 50px;
    width: 100%;
    font-weight: bold;
}
.register{
    color: #607d8b;
    font-weight: bold;
}